a {
  color: black !important;
}
.bg-secondary .nav-link {
  color: white !important;
}
#bio .modal-body {
  text-align: justify;
}
#bio .modal-body div a {
  color: var(--bs-teal ) !important;
  text-decoration: none;
}